<h1>Song Search Results</h1>
<br>
<br>
  <div id="headphones">
    <img src="http://www.klickpush.com/wp-content/uploads/2014/10/kp-music.png" alt >
  </div>

You just searched for <%= params['search']['terms'] %>


<% @tracks.each do |track| %>
	<%= track.name %><br>
<% end %>
